html, body, div, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
	border: 0;
	vertical-align: baseline
}

body {
	
}

.clear {
	clear: both;
}

.logo {
	width: 30%;
	height: 400px;
	margin: 120px auto;
	background: rgb(0,0,0,0.1);
	background: url(/wlmtxt/img/bgc_login.jpg)  no-repeat;
	background-size:cover;
}

.header {
	height: 100px;
	padding-top: 20px;
	margin-bottom: 0px;
	text-align: center;
}

.header img {
	position: absolute;
	top: 60px;
	left: 170px;
}

.header h1 {
	line-height: 70px;
	color: #000000;
}

.content {
	height: 230px;
	text-align: center;
}
#div_userName,#div_password{
	width: 360px;
	height:30px;
	margin: 15px auto;
	padding-left: 10px;
	
}
/* .label_userName,.label_password{
	width: 60px;
	height:30px;
	background-color: #fdfdfd;
	color: #000000;
}
 */
.userName, .passWord {
	width: 260px;
	height:30px;
	border-radius:5px;
	background: #fdfdfd;
	border:1px solid #1dd388;
	font: 17px/30px "΢���ź�";
	
}
.check-box {
	float: left;
	margin-left: 4%;
	width: 20px;
	height: 20px;
	display: inline-block;
	color: white;
}

.content label {
	float: left;
}

.logo-button {
	cursor: pointer;
	width: 336px;
	height: 36px;
	color: white;
	border-radius:5px;
	margin: 25px auto;
	font: 20px/40px "΢���ź�";
	background: #00abff;
}
/*.logo-button:hover{
	background: #0284c4;
}*/